site_name: COMP423 Course Notes
theme:
  name: material
  features:
    - content.code.copy

markdown_extensions:
  - pymdownx.keys
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - footnotes